/*==== GLOBAL STYLES ====*/
p {
  color: #7a7a7a;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: .9rem;
  color: #636268;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2em;
  color: #413d4b;
}

.clear-btn {
  display: block;
  border: 1px solid $teal;
  color: $teal;
  margin: 60px auto;
  padding: 8px 4px 0 4px;
  height: 40px;
  max-width: 180px;
  background: #fff;
  /* fallback color for old browsers */
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.1px;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
}

.clear-btn:hover {
  color: white;
  background: $teal;
}

/*==== HEADER STYLES ====*/


header {
  color: #fff;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;  
}

.logo img {
  display: block;
  padding-top: 6px;
  padding-left: 80px;
}

.site-nav {
  position: absolute;
  top: 0%;
  right: 0%;
  background: $teal;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  margin-top: 14px;
}

.site-nav--open {
  clip-path: circle(150% at top right);
}

.site-nav li {
  border-bottom: 1px solid #2ec7d1;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1.1px;
  color: #fff;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #fff;
  color: $teal;
}

.site-nav .current {
  color: &teal;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, .4);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .6em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #fff;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media screen and (min-width: 1040px) {
  .menu-toggle {
    display: none;
  }
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  .site-nav li {
    display: inline-block;
    border: none;
  }
  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  .site-nav--icon {
    display: none;
  }
  .site-nav ul {
    padding: 0 80px 0 0;
  }
}

.hero {
  background: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 670px;
  margin-top: -90px;
  text-align: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2em;
  padding-top: 190px;
}

hr {
  height: 1px;
  width: 8%;
  color: $teal;
  background-color: $teal;
  border: none;
  margin: 32px auto;
}

.hero p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.6rem;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}

/*==== ABOUT STYLES ====*/

.about-us {
  text-align: center;
  color: #413d4b;
  padding: 2em 0 2em 0;
}

.about-us h2 {
  margin: 2rem;
}

.about-us p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.6rem;
  font-weight: 300;
  letter-spacing: 1.1px;
  width: 80%;
  margin: 1em auto;
}


@media screen and (min-width: 1024px) {
  
  .about-us img {
    margin-top: 3rem;
  }
  .about-content {
    text-align: left;
  }
  .about-us h2 {
    margin: 0;
    text-align: left;
  }
  .about-us p {
    margin: 1em 0;
  }
  .about-us .clear-btn {
    margin: 3em 0;
  }
}

.about-video {
  background: url(../img/city_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.play-btn img {
  width: 100px;
  margin-bottom: 10px;
}

.about-video p {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 900;
}

/*==== EXPERTISE STYLES ====*/

.expertise .row {
  display: flex;
  flex-direction: column;
}

.expertise .col {
  flex: 1;
  padding: .6em;
  margin: .6em;
}

.expertise {
  text-align: center;
  padding-bottom: 7%;
}

.expertise h2 {
  margin: 30px 0;
}

.expertise img {
  height: 50px auto !important;
}
.expertise h3 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 0;
  color: #413d4b;
}

.expertise p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 1%;
  line-height: 1.5em;
}

.expertise i {
  color: #18ccce;
  font-size: 4em;
  
}
@media screen and (min-width: 768px) {
  .expertise .row {
    display: flex;
    flex-direction: row;
  }
  
  .expertise p {
    width: 60% !important;
    padding-bottom: 0 !important;
  }
}

/* ==== TEAM SECTION ==== */

.team {
  background: url(../img/team_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 710px;
  text-align: center;
  padding: 4em 0 2em 0;
}

.team h2 {
  color: $white;
}

.team h4 {
  color: $white;
  padding-top: 1em;
  padding-bottom: 0;
}

.team img {
  width: 100% auto;
}

.team h3 {
  text-transform: uppercase;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 14px;
}

.team p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  font-size: .8em;
}

p.tagline {
  text-transform: none;
  font-size: 14px;
  margin-top: 4rem;
  padding-bottom: 0;
}

.card {
  background: transparent;
  border: 1px solid #7c7890;
  margin: 1em;
}

/* ==== PORTFOLIO SECTION ==== */

.row {
  width: 100%;
  max-width: 100%;
}

.portfolio .columns {
  padding: 0;
}

.dribbble {
  margin-top: 1em;
  font-size: .8rem;
  text-align: center;
}

h2 {
  margin: 0;
  text-align: center;
}

a.dribbble {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #7a7a7a;
  display: block;
}

.port-lead {
  padding: 2.2em;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; 
}

.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }

.overlay-fade-in .fi-camera {
  display: inline-block;
  font-size: 4em;
  margin-top: 35%;
  color: #fff;
  position: relative;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .fi-camera:hover {
     }
.overlay-fade-in:hover img {
  transform: scale(1.4); }
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }
.overlay-fade-in:hover .fi-camera {
  opacity: 1; 
  transition-delay: 0.2s;
}

.reveal .close-button {
  color: $teal;
}

.reveal .close-button:hover {
  cursor: pointer;
}

.reveal h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #7a7a7a;
  margin-bottom: 1em;
}

@media screen and (min-width: 640px) {
  
  .portfolio h2 {
    float: left;
  }
  .dribbble {
    float: right; 
  }  
}

/* ==== TESTIMONIAL SECTION ==== */

.testimonials {
  background: url(../img/testimonial_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  color: $white;
  text-align: center;
}

.fi-quote {
  font-size: 5rem;
  display: block;
}

.item {

}

.item p {
  font-family: 'Playfair Display', serif;
  color: $white;
  font-size: 15px;
  font-weight: 400;
  padding: 40px 0;
  margin: 0;
  padding-top: 0;
}

.testimonials .bx-wrapper .bx-pager,
.testimonials .bx-wrapper .bx-controls-auto {
  display: none;
}

.item h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
  margin: 0;
}

.item span {
  font-size: 13px;
  font-weight: 300;
  color: $white;
  padding-bottom: 35px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#bx-pager img {
  width: 45px;
  height: auto;
}

a.active img {
  width: 70px !important;
  height: auto;
  margin: 0;
  top: 0;
  position: relative;
}

.bxslider {
  margin: 0;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 0px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 7%;
	width: 100%;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	border:1px solid #fff;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #00e0d0;
	border:1px solid #00e0d0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 20%;
	background: url(../img/left-arrow.png) no-repeat;
}

.bx-wrapper .bx-next {
	right: 16%;
	background: url(../img/right-arrow.png) no-repeat;
}


.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 117%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 60px;
	text-indent: -9999px;
	z-index: 9996;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

@media screen and (max-width: 660px) {
  .bx-wrapper .bx-prev, .bx-next {
	display: none;
  }
}

/* ==== CONTACT SECTION ==== */

.contact {
  padding: 4em 0;
}

.contact h2 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  font-size: 22px;
  text-align: left;
}

.contact input, .contact textarea {
	width: 100% !important;
	border: 1px solid #e5e5e5;
	padding: 10px;
	color: #333;
	outline: 0;
	font-weight: 400;
	margin-bottom: 20px;
}

.contact textarea {
	height: 140px !important;
}

.contact .img-group img {
  padding: .2em 0;
}

.contact .img-group {
  margin-top: -20px;
}

.contact img {
  padding: 0;  
}

.contact .clear-btn {
  width: 120px;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .contact textarea {
    height: 200px !important;
  }
}

@media screen and (max-width: 640px) {
  .contact .clear-btn {
    margin-bottom: 40px;
  }
}


/* ==== FOOTER SECTION ==== */

.footer {
  background: url(../img/footer_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  padding: 2rem 0;
  font-family: 'Roboto', sans-serif;
}

.footer p, .address, .phone {
  color: $white;
  font-size: 14px;
  font-weight: 300;
}

.footer h6 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}
.footer i {
  float: left;
  padding-right: 15px;
}

.footer li a {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.footer .menu li a {
  padding: 10px 3px;
}

.footer .menu li a:first-child {
  padding-left: 0;
}

.footer .address span {
  float: left;
}

.footer p {
  margin-top: 1rem;
}

.footer .copyright {
  margin: 14px 0;
  font-weight: 400;
}
.footer form input {
  width: 220px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  margin-right: 2px;
}

.subscribe-btn {
  display: inline-block;
  background-color: rgba(255,255,255,0.4);
  height: 40px;
  width: 70px;
}

.footer li a:hover {
  color: $teal;
}

.footer .footer-menu li a {
  padding: 20px 30px;
}

.subscribe-btn img {
  padding: 10px 25px;
}

@media screen and (max-width: 1020px) {
  .copyright {
    float: left;
  }
}
   








