<section class="about-us">
  <div class="row">
    <div class="large-4 columns"> <img src="../assets/img/about-image.png" alt="about image" class="image-left"> </div>
    <div class="large-8 columns about-content">
      <h2>Our Story</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi quaerat alias sequi eveniet ipsum voluptatum, fugit doloremque ipsam! Similique dolorum consequuntur officiis ut laborum ratione molestiae nisi vitae tenetur!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatum magni deleniti ipsum minima delectus. Ipsam labore, voluptates eos, reiciendis earum provident eum perspiciatis nostrum fuga quis non ut qui.</p> <a href="" class=clear-btn>Learn More</a> </div>
  </div>
</section>


<section class="about-video">
  <div class="play-btn">
    <img src="../assets/img/play_btn.png" alt="play">
  </div>
  <p>Watch Our Story</p>
</section>