<section class="contact" id="contact">
 <div class="container">
    <div class="row">
      <div class="medium-6 columns">
        <h2>Give Us Good News</h2>
        <form action="">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="Subject" placeholder="Subject">
        <textarea placeholder="Your Message"></textarea>
        <a class="submit clear-btn float-left" href="#">SUBMIT</a>
        </form>
      </div>

      <div class="medium-6 columns">
        <h2>Our Happy Clients</h2>
        <div class="row img-group">
          <div class="small-6 columns"><img src="../assets/img/c1.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c2.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c3.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c4.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c5.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c6.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c7.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c8.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c9.png"></div>
          <div class="small-6 columns"><img src="../assets/img/c10.png"></div>
        </div>
      </div>
    </div>
  </div>
</section>