<section class="expertise" id="expertise">
  <div class="container">
    <h2>Expertise</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
    <hr>
    <div class="row">
      <div class="col"> 
        <i class="fi-monitor"></i>
        <h3>Web Design and Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam soluta amet.</p>
      </div>
      <div class="col"> 
        <i class="fi-paint-bucket"></i>
        <h3>Branding Identity</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam soluta amet.</p>
      </div>
      <div class="col">
        <i class="fi-mobile"></i>
        <h3>Mobile App</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam soluta amet.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="fi-megaphone"></i>
        <h3>Search Engine Optimization</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam soluta amet.</p>
      </div>
      <div class="col">
        <i class="fi-crop"></i>
        <h3>Game Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam soluta amet.</p>
      </div>
      <div class="col">
        <i class="fi-heart"></i>
        <h3>Made with Love</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam soluta amet.</p>
      </div>
    </div>
  </div>
</section>