<section class="footer">
  <div class="container">
   
    <div class="row">
      <div class="large-4 column">
        <img src="../assets/img/logo.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem perspiciatis ad eveniet cum, sint commodi eos adipisci earum laboriosam ipsam ex voluptas modi numquam est, vero rerum, quibusdam pariatur tempore.</p>
      </div>
      <div class="large-4 column">
        <h6>Our Studio</h6>
        <div class="address clearfix">
          <i class="fi-map"></i><span>
          Ruko cucruk, Jl. Radio luar dalem jos<br /> 
          No.12 - 13, Kalideres - Jakarta Barat<br />
          11480 - Indonesia</span>
        </div>
        <div class="phone">
          <i class="fi-telephone"></i>
          <span>(+62) 21-2224 3333</span>
        </div>
      </div>
      <div class="large-4 column">
        <h6>Stay in Touch</h6>
        <form action="">
        <input type="text" name="Name" placeholder="Subscribe to our Newsletter">
        <a class="submit subscribe-btn" href="#"><img src="../assets/img/paper-plane.png" alt=""></a>
        </form>
        <ul class="menu">
          <li><a href="#" class="img-hover"><img src="../assets/img/facebook.png" alt="Facebook"></a></li>
          <li><a href="#"><img src="../assets/img/twitter.png" alt="Facebook"></a></li>
          <li><a href="#"><img src="../assets/img/dribbble.png" alt="Facebook"></a></li>
          <li><a href="#"><img src="../assets/img/instagram.png" alt="Facebook"></a></li>
          <li><a href="#"><img src="../assets/img/gplus.png" alt="Facebook"></a></li>
          <li><a href="#"><img src="../assets/img/youtube.png" alt="Facebook"></a></li>
        </ul> 
      </div>
    </div>
    
    <div class="row">
      <div class="large-8 column">
       <div class="footer-menu">
        <ul class="menu">
          <li><a href="#">Help</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
      </div>
      <div class="large-4 column">
        <p class="copyright text-right">Copyright &copy; webdevdjm</p>
      </div>
    </div>
  </div>
</section>