<header>
    <div class="container">
      <div class="logo"><img src="../assets/img/logo.png" alt="logo"></div>
      <nav class="site-nav">
        <ul>
          <li><a href="" class="current"><i class="fa fa-home site-nav--icon"></i>Home</a></li>
          <li><a href=""><i class="fa fa-info site-nav--icon"></i>About</a></li>
          <li><a href=""><i class="fa fa-pencil site-nav--icon"></i>Expertise</a></li>
          <li><a href=""><i class="fa fa-usd site-nav--icon"></i>Teams</a></li>
          <li><a href=""><i class="fa fa-envelope site-nav--icon"></i>Works</a></li>
          <li><a href=""><i class="fa fa-envelope site-nav--icon"></i>People Say</a></li>
          <li><a href=""><i class="fa fa-envelope site-nav--icon"></i>Contact</a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <div class="hamburger"></div>
      </div>
    </div>
  </header>
  
  <section class="hero">
    <div class="container">
      <h1>We Are Awesome Creative Agency</h1>
      <hr>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nam fugit doloremque quae iusto velit molestiae quia praesentium, accusantium nostrum debitis odit alias nisi corrupti blanditiis mollitia porro necessitatibus vero.</p>
    </div>
    <a href="" class=clear-btn>Learn More</a>
  </section>