<section class="portfolio">
  <div class="container">
    <div class="row port-lead">
      <h2>Our Works</h2>
      <a href="http://www.dribbble.com" class="dribbble">See All Projects in dribbble ></a>
    </div>
  </div>
  <div class="row">
    <div class="large-2 medium-4 small-6 columns">
       <div class="image-wrapper overlay-fade-in"><img src="../assets/img/port_1.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-01">
          <i class="fi-camera"></i></a>
        </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_2.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-02"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_3.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-03"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_4.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-04"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_5.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-05"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_6.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-06"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_7.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-07"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_8.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-08"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_9.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-09"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_10.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-10"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_11.jpg">
        <div class="image-overlay-content"> <a data-open="galleryModal-11"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
    <div class="large-2 medium-4 small-6 columns">
      <div class="image-wrapper overlay-fade-in"> <img src="../assets/img/port_12.jpg">
        <div class="image-overlay-content"><a data-open="galleryModal-12"><i class="fi-camera"></i></a> </div>
      </div>
    </div>
  </div> <a href="" class=clear-btn>We Are Hiring</a> 
</section>

<div class="reveal" id="galleryModal-01" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_1.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-02" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_2.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-03" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_3.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-04" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_4.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-05" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_5.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-06" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_6.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-07" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_7.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-08" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_8.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-09" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_9.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-10" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_10.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-11" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_11.jpg">
  </div>
</div>

<div class="reveal" id="galleryModal-12" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
 <h5>Designed by Jeng Kol</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img src="../assets/img/port_12.jpg">
  </div>
</div>
