<section class="team">
 <div class="container">
  <h2>Meet Our Amazing Team</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr>
  <div class="row">
    <div class="large-3 medium-6 columns">
      <div class="card">
        <img src="../assets/img/team_1.jpg">
        <div class="card-section">
          <h3>Semf Ucuk</h3>
          <p>CEO &amp; Founder</p>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 columns">
      <div class="card">
        <img src="../assets/img/team_2.jpg">
        <div class="card-section">
          <h3>Dik Adalin</h3>
          <p>Engineering</p>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 columns">
      <div class="card">
        <img src="../assets/img/team_3.jpg">
        <div class="card-section">
          <h3>Jeng Kol</h3>
          <p>Designer</p>
        </div>
      </div>
    </div>
    <div class="large-3 medium-6 columns">
      <div class="card">
        <img src="../assets/img/team_4.jpg">
        <div class="card-section">
          <h3>Pet Romak</h3>
          <p>Marketing</p>
        </div>
      </div>
    </div>
  </div>
  <p class="tagline">Become part of our dream team, let’s join us !</p>
    <a href="" class=clear-btn>We Are Hiring</a> 
  </div>
</section>