<section class="testimonials" id="testimonial">
  <div class="container">
   <div class="quote"> <i class="fi-quote"></i>
    </div>
    <ul class="bxslider">
      <li>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsa quod aliquid sint quaerat odit ab, maiores rem officia facilis nesciunt totam alias ipsum distinctio, nemo earum, saepe culpa deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto exercitationem, vero ipsam quia sint, quisquam amet, iusto quae repudiandae quasi, voluptas cumque explicabo facere id atque commodi omnis molestiae saepe.</p>
          <h5>Siddhartha Gautama</h5>
          <span>Buddha</span>
        </div>
      </li>
      <li>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsa quod aliquid sint quaerat odit ab, maiores rem officia facilis nesciunt totam alias ipsum distinctio, nemo earum, saepe culpa deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto exercitationem, vero ipsam quia sint, quisquam amet, iusto quae repudiandae quasi, voluptas cumque explicabo facere id atque commodi omnis molestiae saepe.</p>
          <h5>Dalai Lama</h5>
          <span>His Holiness</span>
        </div>
      </li>
      <li>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsa quod aliquid sint quaerat odit ab, maiores rem officia facilis nesciunt totam alias ipsum distinctio, nemo earum, saepe culpa deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto exercitationem, vero ipsam quia sint, quisquam amet, iusto quae repudiandae quasi, voluptas cumque explicabo facere id atque commodi omnis molestiae saepe.</p>
          <h5>Confucius</h5>
          <span>Real Smart Dude</span>
        </div>
      </li>
      <li>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsa quod aliquid sint quaerat odit ab, maiores rem officia facilis nesciunt totam alias ipsum distinctio, nemo earum, saepe culpa deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto exercitationem, vero ipsam quia sint, quisquam amet, iusto quae repudiandae quasi, voluptas cumque explicabo facere id atque commodi omnis molestiae saepe.</p>
          <h5>Gandhi</h5>
          <span>A Man of Peace</span>
        </div>
      </li>
      <li>
        <div class="item">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsa quod aliquid sint quaerat odit ab, maiores rem officia facilis nesciunt totam alias ipsum distinctio, nemo earum, saepe culpa deleniti! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto exercitationem, vero ipsam quia sint, quisquam amet, iusto quae repudiandae quasi, voluptas cumque explicabo facere id atque commodi omnis molestiae saepe.</p>
          <h5>Kwai Chang Caine</h5>
          <span>Shaolin Priest</span>
        </div>
      </li>
    </ul>

    <div id="bx-pager">
      <a data-slide-index="0" href=""><img src="../assets/img/buddha.png" alt="" /></a>
      <a data-slide-index="1" href=""><img src="../assets/img/dalai-lama.png" alt="" /></a>
      <a data-slide-index="2" href=""><img src="../assets/img/Confucius.png" alt="" /></a>
      <a data-slide-index="3" href=""><img src="../assets/img/gandhi.png" alt="" /></a>
      <a data-slide-index="4" href=""><img src="../assets/img/kwai-chang.png" alt="" /></a>
    </div>
  </div>
</section>